h1
 {
    color:rgb(128, 62, 0);
 }

 body
 {
    background-color: rgb(0, 209, 0);
 }

 a
       {
         text-decoration-none;
         padding-right: 40px;
         font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
         font-size: 18;
       }
 a.hover
       {
         background-color: rgb(7, 252, 227);
       }